/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --color-accent-header: #db00ff;
  --bg-color: #00002b;
  --color-title: #00002b;
  --color-accent: #ff0070;
  --color-accent-decor: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --color-text: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__decorated-element {
  display: flex;
}