/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  max-inline-size: 1024px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 20px;
}

.size {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--color-accent-decor);
  border-inline-end: 1px solid var(--color-accent-decor);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  bottom: 20px;
  left: 20px;
  border-inline-start: 1px solid var(--color-accent-decor);
  border-block-end: 1px solid var(--color-accent-decor);
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
}

.header__decorated-element {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 20px;
  right: 29px;
}

.header__decorated-element::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: var(--font-size-medium);
  line-height: 139%;
  font-weight: 400;
}

.header__decorated-element::after {
  content: "";
  align-self: center;
  display: block;
  height: 9px;
  width: 9px;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 3px var(--color-accent);
  border-radius: 100%;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 11px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: var(--color-accent-decor);
  line-height: 100%;
  font-size: var(--font-size-medium);
  cursor: pointer;
  appearance: none;
  padding: 2px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.title {
  color: var(--color-accent-header);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
}

.header__title {
  text-shadow: 4px 4px var(--color-accent);
  margin-inline-start: -20px;
}

.header__subhead {
  inline-size: 491px;
  align-self: center;
  justify-self: end;
}

.text-bold {
  font-weight: 700;
}

.text-regular {
  font-weight: 400;
}

.content {
  display: grid;
  gap: 80px;
  padding-inline: 2vw;
  padding-block: 60px;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--section-grid-gap);
}

.why-item {
  grid-column: 2 / 4;
}

.section-title-color {
  color: var(--color-accent-decor);
}

.general-text-decor {
  font-size: var(--font-size-medium);
  line-height: 130%;
}

.paragraph {
  color: var(--color-text);
  margin-block-start: 10px;
}

.selected-text {
  background-color: var(--color-accent);
  color: var(--color-title);
}

.link-decor {
  text-decoration: none;
}

.link-decor:hover {
  border-bottom: 1px solid currentColor;
}

.link-decor:focus-visible {
  outline: 1px solid currentColor;
}

.shadow {
  text-shadow: 2px 2px var(--color-accent);
}

.what-title {
  grid-column: 1 / 4;
  inline-size: 30%;
}

.how-item {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
  gap: var(--section-grid-gap);
}

.pictures-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  gap: var(--section-grid-gap);
  margin-block-start: 20px;
}

.picture-sunset {
  grid-area: sunset;
}

.picture-ice-cream {
  grid-area: ice-cream;
}

.picture-tape {
  grid-area: tape;
}

.picture-books {
  grid-area: books;
}

.picture-street {
  grid-area: street;
}

.pictures-size {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
  }

  .header__subhead {
    inline-size: 364px;
  }

  .content {
    padding-inline: 2.6vw;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .what-item {
    grid-column: 1 / 4;
  }

  .why-item {
    grid-column: 2;
  }

  .how-item {
    grid-column: 2;
  }
}

@media (width <= 540px) {
  .header {
    padding: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__decorated-element {
    top: 10px;
    right: 20px;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__subhead {
    inline-size: 100%;
  }

  .content {
    gap: 50px;
    padding-inline: 10px;
    padding-block: 40px;
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .what-title {
    inline-size: 100%;
  }

  .pictures-panel {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    gap: 10px;
  }
}
