:root {
  --color-accent-header: #db00ff;
  --bg-color: #000028;
  --color-accent: #ff0070;
  --color-accent-decor: #ff0070;
  --color-text: #f1b2ce;
  --color-title: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex mono";
  --bg-image: url(../images/cover-image-dark.png);
  --section-grid-gap: 20px;
  --font-size-medium: 18px;
}
